<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p>
        You are successfully logged!
        Click Here to register your trip <a href = "trip.html"> <button> Create Trip </button> </a> <br>
        Click here to access an already created trip 
        <form action="/trip" method="GET">
            <label for="tripID">Enter Trip Name:</label>
            <input type="text" name="trip_name" placeholder="Enter trip name" required>
            <button type="submit">Submit</button>
        </form>
    </p>
   
</body>
</html>