<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Group Expenses Planner</title>
</head>
<body>
    <h1>
        Event Planner
    </h1>
    <p>
        This event planner allows you to track expenses over a group trip so that you can split costs at the end of a trip.<br>
        Click Here to register your trip <a href = "pretty.html"> <button> Create Trip </button> </a>
    </p>

    <h1>
        Budgeting ChatBot
    </h1>
    <p>
        Tracks if the budget is being overspent and returns notes on proper spending. 
    </p>

</body>
</html>